<p>Вітаємо, {{email}},</p>
<p>Будь ласка, перейдіть за посиланням нижче щоб підтвердити свій акаунт</p>
<p>
  <a href='{{link}}'>Підвердити акаунт</a>
</p>

<p>Посилання перестане бути активним через 24 години.</p>
<p>Якщо ви не давали запит на підтвердження акаунту ви можете ігнорувати цей
  лист.</p>