<p>Вітаємо, {{email}},</p>
<p>Будь ласка, перейдіть за посиланням нижче щоб відновити свій пароль</p>
<p>
  <a href='{{link}}'>Відновити пароль</a>
</p>

<p>Посилання перестане бути активним через 24 години.</p>
<p>Якщо ви не давали запит на відновлення паролю ви можете ігнорувати цей лист.</p>